*{
box-sizing: border-box;    
}

body{
color: #fff;
text-align: center;
font-size: 0.8rem;
}

.header{
    padding: 170px 30px 80px;
    height: 100vh;
    background-color:  rgba(25,25,120, 0.9);
}

.site-title-sub{
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.site-title{
margin:  50px;
font-size: 4.5rem;
}

.site-description{
margin-bottom: 50px;
color: #888;
}

.about{
height: 100vh;
background-color:  #ffffff;
}

.button{
display: inline-block;
width: 200px;
padding: 20px;
margin: 10px;
border-radius: 4px;
background-color:  #afa58d;
color: #fff;
text-decoration: none;
letter-spacing: 1px;
font-size: 0.7rem;
}

.button:hover {
    opacity: 0.9;
}

.button-orange {
    background-color: #f1b400;
}
.works{
height: 100vh;
background-color: #383634;
}

.contact{
height: 100vh;
background-color:  rgba(25,25,120, 0.9);

}